{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entities \EasyCorp\Bundle\EasyAdminBundle\Collection\EntityCollection #}
{# @var paginator \EasyCorp\Bundle\EasyAdminBundle\Orm\EntityPaginator #}
{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block main %}
    {# sort can be multiple; let's consider the sorting field the first one #}
    {% set sort_field_name = app.request.get('sort')|keys|first %}
    {% set sort_order = app.request.get('sort')|first %}
    {% set some_results_are_hidden = entities|reduce((some_results_are_hidden, entity) => some_results_are_hidden or not entity.isAccessible, false) %}
    {% set has_footer = entities|length != 0 %}
    {% set has_search = ea.crud.isSearchEnabled %}
    {% set has_filters = filters|length > 0 %}
    {% set num_results = entities|length %}

    <ul class="easyadmintree_tree">
        <li class="tree-item easyadmintree_tree-item">
        <span class="easyadmintree_tree-item-label easyadmintree_tree-item-title">
            <span class="drag-handle">&nbsp;</span>
            {% for field in entities|filter(e => e.isAccessible)|first.fields ?? [] %}
                <div style="{{ loop.first ? 'min-width: 360px;' : 'min-width: 260px;' }} margin-left: 5px;"
                     data-column="{{ field.property }}"
                     class="header-for-{{ field.cssClass }}"
                     dir="{{ ea.i18n.textDirection }}">
                    <span>{{ field.label|trans|raw }}</span>
                </div>
            {% endfor %}
            <div class="easyadmintree_tree-item-actions"></div>
        </span>
        </li>
    </ul>

    <ul class="easyadmintree_tree" data-controller="iamczech--easyadmin-fields-bundle--tree" data-root="true">
        {% set previous_level = 0 %}
        {% for entity in entities %}
            {% if entity.isAccessible %}
                {% set level = entity.instance.level %}
                {% if level < previous_level %}
                    {% for i in range(level, previous_level - 1) %}
                        </li></ul>
                    {% endfor %}
                {% elseif level == previous_level %}
                    </li>
                {% endif %}

                {% if loop.first %}
                    {% dump(entity) %}
                {% endif %}
                <li class="tree-item easyadmintree_tree-item"
                    data-action="dblclick->admin#redirect"
                    data-url="{{ ea_url().setAction('edit').setEntityId(entity.primaryKeyValue) }}"
                    data-id="{{ entity.instance.id }}"
                    data-left="{{ entity.instance.left }}"
                    data-right="{{ entity.instance.right }}"
                    data-level="{{ entity.instance.level }}"
                    data-root="{{ entity.instance.root }}"
                    data-parent="{{ entity.instance.parent ? entity.instance.parent.id : '' }}"
                    data-class="{{ entity.fqcn }}">
                    <span class="easyadmintree_tree-item-label">
                        <span class="drag-handle">☰</span>
                        {% for field in entity.fields %}
                            {% set margin = level * 20 %}
                            <span style="{{ loop.first ? 'min-width: calc(372px - ' ~ margin ~ 'px);' : 'min-width: 260px;' }}"
                                  data-column="{{ field.property }}"
                                  data-label="{{ field.label|trans|e('html') }}"
                                  class="{{ field.cssClass }}"
                                  dir="{{ ea.i18n.textDirection }}">
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            </span>
                        {% endfor %}
                        <span class="easyadmintree_tree-item-actions">
                            {% block entity_actions %}{{ parent() }}{% endblock %}
                        </span>
                    </span>

                    {% if entity.instance.children|length %}
                        <ul class="easyadmintree_tree" data-root="false">
                    {% else %}
                        <ul class="easyadmintree_tree" data-root="false"></ul>
                    {% endif %}

                    {% set previous_level = level %}
                {% endif %}
            {% endfor %}
            {% for i in range(0, previous_level - 1) %}
                </li></ul>
            {% endfor %}
        </li>
    </ul>

    {% if entities|length > 0 %}
        <div class="content-panel-footer without-padding without-border">
            {% block paginator %}
                {{ include(ea.templatePath('crud/paginator'), { render_detailed_pagination: not some_results_are_hidden }) }}
            {% endblock paginator %}
        </div>
    {% endif %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}
    {% endblock delete_form %}

    {% if has_filters %}
        {{ include('@EasyAdmin/crud/includes/_filters_modal.html.twig') }}
    {% endif %}

    {% if has_batch_actions %}
        {{ include('@EasyAdmin/crud/includes/_batch_action_modal.html.twig', {}, with_context = false) }}
    {% endif %}
{% endblock main %}
