{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{# @author Ing. Dominik Mach <xXIamCzechXx@gmail.com> #}
{% block embed_widget %}
    {% if iamczech_embedded_callback_url is not empty %}
        <div class="ea-field-user-list">
            <iframe
                data-controller="{{ form.vars.ea_vars.field.customOptions.get('iamczech_embedded_controller') }}"
                data-base-src="{{ form.vars.ea_vars.field.customOptions.get('iamczech_embedded_callback_url') }}"
                data-property-alias="{{ form.vars.ea_vars.field.customOptions.get('iamczech_embedded_property_alias') }}"
                height="{{ form.vars.ea_vars.field.customOptions.get('iamczech_embedded_height') }}"
                width="100%"
            ></iframe>
        </div>
    {% else %}
        <p class="text-muted">{{ form.vars.ea_vars.field.customOptions.get('iamczech_embedded_page_add_text') }}</p>
    {% endif %}
{% endblock %}
